CoreExample/.vs
CoreExample/AspNetServiceLib/bin
CoreExample/AspNetServiceLib/obj
CoreExample/BackendCommunicationService/bin
CoreExample/BackendCommunicationService/obj
CoreExample/ServiceCommunicationRabbitExample/bin
CoreExample/ServiceCommunicationRabbitExample/obj
asynchronous-programming/.vs/asynchronous-programming
asynchronous-programming/.vs
asynchronous-programming/_1_intro-async-await/obj
asynchronous-programming/_2_task-parallel-library/obj
asynchronous-programming/_3_parallel_for_foreach_invoke/obj
asynchronous-programming/_4_asynchronous_programming_othertopics/obj
asynchronous-programming/_5_parallel_linq/obj
asynchronous-programming/TaskParallelLibrary/TaskParallelLibrary/obj
asynchronous-programming/Tests/obj
asynchronous-programming/ThreadingExample/TaskCompletionSourceExample/obj
asynchronous-programming/ThreadingExample/ThreadingExample/obj
