CoreExample/.vs
CoreExample/AspNetServiceLib/bin
CoreExample/AspNetServiceLib/obj
CoreExample/BackendCommunicationService/bin
CoreExample/BackendCommunicationService/obj
CoreExample/ServiceCommunicationRabbitExample/bin
CoreExample/ServiceCommunicationRabbitExample/obj
asynchronous-programming/.vs/asynchronous-programming
asynchronous-programming/.vs
asynchronous-programming/_1_intro-async-await/obj
asynchronous-programming/_2_task-parallel-library/obj
asynchronous-programming/_3_parallel_for_foreach_invoke/obj
asynchronous-programming/_4_asynchronous_programming_othertopics/obj
asynchronous-programming/_5_parallel_linq/obj
asynchronous-programming/TaskParallelLibrary/TaskParallelLibrary/obj
asynchronous-programming/Tests/obj
asynchronous-programming/ThreadingExample/TaskCompletionSourceExample/obj
asynchronous-programming/ThreadingExample/ThreadingExample/obj
RecursiveExample/.vs
TestMatrice/.vs
TestMatrice/TestMatrice/bin
TestMatrice/TestMatrice/obj
.vs/csharp-example-repo/FileContentIndex
.vs/csharp-example-repo/v17
BackgroundService/obj
EntityFrameworkExample/.vs
EntityFrameworkExample/EntityFrameworkExample/obj
EntityFrameworkExample/EntityFrameworkExample/bin
LogWriterExample_WebApi/CocoService/obj
LogWriterExample_WebApi/CocoWSCommunication/obj
LogWriterExample_WebApi/LoggingService/obj
LogWriterExample_WebApi/LogWriterExample_WebApi/obj
MultiThreadedEvent/MultiThreadedEvent/obj
MultiThreadedEvent/MultiThreadedEventTests/obj
RabbitMQTutorial/RabbitMQTutorial/obj
RecursiveExample/RecursiveExample/obj
SendEmailExample/SendEmailExample/obj
TranslaterConsole/obj
utilities/JsonSchemaGenerator/obj
RabbitMQTutorial/RabbitMQTutorial/RabbitMQKiki/obj
RabbitMQTutorial/RabbitMQTutorial/RabbitMQCoco/obj
.vs
SendEmailExample/SendEmailExample/bin
AlbanWebApplication/AlbanWebApplication/bin
AlbanWebApplication/AlbanWebApplication/wwwroot
AlbanWebApplication/Services/ProfessionelService/obj
AlbanWebApplication/AlbanWebApplication/obj
AlbanWebApplication/AlbanWebApplication/Migrations
